.chat-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3 rgba(0, 0, 0, 0.2);
  position: relative;
  background: #efefef;
  border-radius: 8px;
  box-shadow: 0 0 3 rgba(247, 203, 203, 0.2);
  padding: 1rem 0.5rem;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  flex: 1;
}

.chat-user-img {
  height: 50px;
  width: 50px;
}

.chat-user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat-container-wrapper {
  width: 100%;
}
.empty-chat-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  gap: 10px;
}

.loopchat-icon-div {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #eee;
}

.loopchat-icon-div i {
  font-weight: 500;
  font-size: 20px;
}

.empty-chat-container h3 {
  font-weight: 700;
  font-size: 16px;
}

.empty-chat-container h5 {
  margin-top: 5px;
  font-size: 12px;
  color: #444;
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .chat-container {
    margin-top: 0;
    padding: 0.5rem;
  }
  .chat-header {
    flex: 0;
    margin: 0;
  }
  .message-container {
    flex: 1;
  }
}
