.sidebar {
  height: 100%;
  width: 200px;
  background-color: red;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 3 rgba(0, 0, 0, 0.2);
}

.users {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  overflow-y: auto;
}

.contact {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.contactactive {
  background-color: #ddd;
}

.contact-img {
  height: 35px;
  width: 35px;
}

.contact-title h5 {
  font-size: 12px;
  font-weight: 700;
}

.contact-title h6 {
  font-size: 10px;
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .sidebar {
    width: 45px;
  }
  .contact-title h5,
  .contact-title h6 {
    display: none;
  }
  .users {
    padding: 5px;
  }
  .contact {
    padding: 0;
  }
}
